body {
  background-image: url("a.jpg");
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.judul {
  font-size: 40px;
  display: flex;
  justify-content: center;
  color: azure;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.kotak {
  display: flex;
  justify-content: center;
}

.kotak2 {
  height: 300px;
  width: 200px;
  background-color: azure;
  margin-left: 10px;
  border-radius: 20px;
}

.tulisan {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100px;
  font-weight: bold;
  font-family: monospace;
}

.tulisan-bawah {
  color: rgb(255, 255, 0);
  text-align: center;
  margin-top: 70px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin-left: 150px;
  margin-right: 150px;
}

@keyframes paperFall {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0);
  }
}

.kotak2 {
  animation: paperFall 1s ease-in-out;
}
